[submodule "projects/libft"]
	path = projects/libft
	url = git@github.com:stanX19/libft.git
	branch = main
[submodule "projects/get_next_line"]
	path = projects/get_next_line
	url = git@github.com:stanX19/get_next_line.c.git
	branch = main
[submodule "projects/ft_printf"]
	path = projects/ft_printf
	url = git@github.com:stanX19/ft_printf.git
	branch = main
